body {
  font-family: "Source Serif Pro";
  overflow-y : hidden;
}

.header {
  background-color: #0d0606;

}

i {
  cursor: pointer;
}

#bton {
  width           : 42PX;
  height          : 42PX;
  border          : none;
  position        : fixed;
  right           : 30px;
  left            : 100%px;
  bottom          : 20px;
  display         : none;
  z-index         : 999999999;
  background-color: rgba(255, 255, 255, 0.044);
}

#options {
  position: fixed;
  z-index : 999999999;
  left    : 0px;
  top     : 229px;
}

#colorsBox {
  padding         : 10px;
  background-color: #ccc;

}

#options i {

  background-color: black;
  color           : white;
  padding         : 10px;
}

.color-itms {
  width           : 30px;
  height          : 30px;
  background-color: orange;
  display         : inline-block;
  cursor          : pointer;
}

.main-slaider {
  background-color: #333;
  height          : 500px;
}

.colre {
  color: rgba(204, 204, 204, 0.564);

}

#welcom {
  transition      : 1s;
  background-color: rgb(26, 25, 25);
}

.widrh {
  width           : 75px;
  height          : 1px;
  background-color: #333;
  transform       : translateX(-50%);
  transform       : translatey(-50%);

}

#start {
  transition: 1s;

  background-color: rgba(26, 25, 25, 0.947);

}

#main-nav {
  transition: 2s;
}

#power {
  background-color: rgb(26, 25, 25);

}

.fsdewf {
  color: rgba(204, 204, 204, 0.564);

}


#Albums {
  background-color: #161616;

}

#Albums p {
  color: #888;
}

#All-tab {
  color           : white;
  background-color: #161616;
  height          : 40px;
  border-bottom   : 1px solid rgba(0, 0, 0, 0.1);
  border-radius   : 15%;
  border          : none !important;


}


#Landscape-tab {
  background-color: #161616;
  color           : white;
  border          : none !important;
}

#Landscape-tab:hover {
  color: #888;

}

#Mountains-tab {
  background-color: #161616;
  color           : white;
  border          : none !important;

}

#Mountains-tab:hover {
  color: #888;

}

#Nature-tab {
  background-color: #161616;
  color           : white;
  border          : none !important;

}

#Nature-tab:hover {
  color: #888;

}

#Photography-tab {
  background-color: #161616;
  color           : white;
  border          : none !important;
}

#Photography-tab:hover {
  color: #888;

}

#Travel-tab {
  background-color: #161616;
  color           : white;
  border          : none !important;
}

#Travel-tab:hover {
  color: #888;

}

.nav-tabs {
  border: none !important;

}

.nav-link:hover {
  color: rgb(226, 11, 11);

}


#loading {
  display         : flex;
  justify-content : center;
  align-items     : center;
  top             : 0;
  left            : 0;
  bottom          : 0;
  right           : 0;
  background-color: #161616;
  position        : fixed;
  z-index         : 9999999999;
}


.spinner {
  margin    : 200px auto;
  width     : 50px;
  height    : 40px;
  text-align: center;
  font-size : 10px;
}

.spinner>div {
  background-color: #fff;
  height          : 100%;
  width           : 6px;
  display         : inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation        : sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay        : -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay        : -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay        : -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay        : -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform        : scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform        : scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.iconse {
  width           : 90px;
  height          : 90px;
  background-color: rgba(153, 153, 153, 0.316);
  ;
  border-radius: 50%;
  margin       : auto;
}

.iconse i {
  padding-top: 30px;
}

#endsa {
  background-color: #0d0606;
  height          : 100%;
}

.icons {
  width           : 40px;
  height          : 40px;
  background-color: #333333;
  text-align      : center;
  display         : flex;
  justify-content : center;
  align-items     : center;
  border-radius   : 50%;
}

.mjfm {
  width          : 13%;
  justify-content: space-between;
}

.icons:hover {
  background-color: #0275d8;
}

.goog:hover {
  background-color: red;

}

.amil {
  color: #999;
}

/* sdd */



.layer {
  background-color: rgba(0, 0, 0, 0.489);
  transition      : 1s;
}

.icons {
  background-color: rgba(0, 0, 0, 0.489);
  width           : 42px;
  height          : 42px;
  border-radius   : 50%;
  bottom          : 500;
}

.icons i {


  padding: 13px !important;

}


.icoms {
  background-color: rgba(0, 0, 0, 0.489);
  width           : 42px;
  height          : 42px;
  border-radius   : 50%;
  margin-left     : 20px;
}

.icoms i {


  padding: 13px !important;

}

.layer:hover {
  opacity: 1 !important;
}

.work-itmes:hover img {
  transform: scale(1.1);
}

.work-itmes {
  overflow: hidden !important;
}

img {
  transition: 1s;
  overflow  : hidden !important;

}

.wores-content {
  transition: 1s;
}

.work-itmes:hover .wores-content {
  top: 0 !important;
}

.icons {
  width           : 40px;
  height          : 40px;
  background-color: #333333;
  text-align      : center;
  display         : flex;
  justify-content : center;
  align-items     : center;
  border-radius   : 50%;
}


.mjfm {
  width          : 13%;
  justify-content: space-between;
}

.icons:hover {
  background-color: #0275d8;
}

.goog:hover {
  background-color: red;

}

.amil {
  color: #999;
}

.mona {
  color          : #666;
  text-decoration: none;
}

h6 {
  color: #888;

}

a:hover {
  color: rgb(50, 49, 49);

}

.lpao {
  color      : rgba(255, 255, 255, 0.71);
  padding-top: 12px;
}

.lpao:hover {
  color     : rgba(153, 153, 153, 0.255);
  transition: 0.5;

}

.lpao:hover i {
  padding-left: 15px;
  transition  : 0.5;
}

.pragrf {
  color: #999;

}

.text {
  background-color: rgba(153, 153, 153, 0.197);
  padding         : 20px;
}

input {
  width           : 70%;
  height          : 40px;
  background-color: #161616;
  border          : solid 1px white;

}

.ltrg {
  position: relative;
}

.iconsa {
  position   : absolute;
  left       : 70%;
  padding-top: 5px;
}

h6:hover {
  color : #333;
  cursor: pointer;
}

.line {
  width           : 100%;
  height          : 1px;
  background-color: rgba(51, 51, 51, 0.581);

}

#gallry {
  background-color: #161616;

}

.text1 {
  width  : 100%;
  padding: 20px;
}

.post-medias {
  padding         : 26px 27px 23px;
  background-color: #3333337d;
  color           : white;
  font-size       : 23px;
}

.post-medias:hover {
  background-color: white;
  color           : #0d0606;
  transition      : 1s;
}

.btn {
  background-color: #0d06067d;
  color           : white;
  border          : solid 1px white;
  height          : 50px;
  width           : 100%px;
}

.btn:hover {
  background-color: #0d06067d;

  border: solid 1px rgb(28, 27, 27);

}

.progha {
  color: #999;

}

.form-control {
  background-color: #0d0606;
  border          : solid 1px white;
  color           : white;

}

.form-control:hover {
  background-color: black;

  border: solid 1px rgb(28, 27, 27);
}

.boton {
  width        : 60px;
  padding      : 10px;
  border-radius: 10%;

  background-color: #333333;
  color           : white;
}

li {
  list-style-type: none;
}

.icon-list-text {
  color: #999;
}

.sdadsa {
  background-color: #333333 !important;
  color           : white;
  width           : 40px;
  height          : 40px;
  border-radius   : 50%;
  text-align      : center;
  padding-top     : 10px;
}